openai
# bertopic
# umap-learn
matplotlib
seaborn
ipykernel
ipywidgets
flask
joblib
openpyxl
optuna
python-math
requests
shap
datetime
xgboost
scikit-learn
transformers
timm
sentence-transformers
pandas
numpy
more_itertools
torchvision
optuna
opencv-python
torch
xgboost
git+https://github.com/tony-pitchblack/ru-clip.git#egg=ruclip