ipykernel
ipywidgets
flask
joblib
openpyxl
python-math
requests
datetime
xgboost
scikit-learn
transformers
sentence-transformers
pandas
numpy
more_itertools
torchvision
optuna
torch
git+https://github.com/tony-pitchblack/ru-clip.git#egg=ruclip